* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: #000;
    gap: 0px;
    padding: 50px 0;
}

.code {
    border-radius: 5px;
    padding: 5px;
    background-color: #1e1e1e;
}

.bgCircle {
    border-radius: 100%;
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.bgCircle4 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-4;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #8fe00d85;
}

@keyframes bg-circle-anim-4 {
    from {
        left: 33.8%;
        top: 28.0%;
        width: 50vh;
        height: 50vh;
    }

    50% {
        left: 17.8%;
        top: 50.0%;
        width: 30vh;
        height: 30vh;

    }

    to {
        left: 35.6%;
        top: 32.8%;
        width: 43.8vh;
        height: 43.8vh;
    }
}

.bgCircle3 {
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-name:  bg-circle-anim-3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #008c56c7;
}

@keyframes bg-circle-anim-3 {
    from {
        left: 40%;
        top: 39.1%;
        width: 30vh;
        height: 30vh;
    }

    50% {
        left: 13.7%;
        top: 13%;
        width: 48.4vh;
        height: 50.4vh;
    }

    to {
        left: 33.7%;
        top: 23%;
        width: 48.4vh;
        height: 50.4vh;
    }
}

.bgCircle2 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #004706;
}

@keyframes bg-circle-anim-2 {
    from {
        left: 14.5%;
        top: -15.5%;
        width: 75vh;
        height: 75vh;
    }

    50% {
        left: 34.3%;
        top: -10.4%;
        width: 70vh;
        height: 70vh;
    }

    to {
        left: 24.3%;
        top: 10.4%;
        width: 76vh;
        height: 76vh;
        background: #00284775;
    }
}

.bgCircle1 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #76ff6d69;
}

@keyframes bg-circle-anim-1 {
    from {
        left: 42.9%;
        top: 26.0%;
        width: 70vh;
        height: 70vh;
    }

    50% {
        left: 42.9%;
        top: 26.0%;
        width: 70vh;
        height: 70vh;
    }

    to {
        left: 20.4%;
        top: 8.0%;
        width: 90vh;
        height: 90vh;
    }
}

.bgCircle5 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-5;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #ffffff00;
    border: 15px solid #00ff37;
    border-radius: 50%;
}

@keyframes bg-circle-anim-5 {
    from {
        left: 25%;
        top: 25.0%;
        width: 200vh;
        height: 200vh;
    }

    50% {
        left: 32%;
        top: 46.0%;
        width: 150vh;
        height: 150vh;
    }

    to {
        left: 25%;
        top: 20.0%;
        width: 230vh;
        height: 230vh;
    }
}

.modal h1 {
    text-align: center;
    text-shadow: #ffffff80 0 0 25px;
}
.modal p {
    text-shadow: #ffffff80 0 0 25px;
}

h1 {
    font-size: 47px;
    color: #dcdcdc;
}

p {
    font-size: 19px;
    color: #dcdcdc;
}

.backgroundGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: radial-gradient(#00593e, #000);
    filter: blur(100px);
    overflow: hidden;
}

.modal {
    width: fit-content;
    max-width: 600px;
    height: max-content;
    z-index: 1;
    border: 1.6px solid #ffffff7f;
    background: #ffffff24;
    backdrop-filter: blur(10px);
    padding: 21px 26px;
    border-radius: 35px;
    padding-top: 8px;
    margin-top: 50px;
    box-shadow: 0px 0px 5px 1px #ffffff inset;
    transition: all 0.2s ease;
}

.modal:hover {
    transform: scale(1.03);
}

.navbar {
    top: 10px;
    width: max-content;
    height: max-content;
    z-index: 1;
    border: 0.6px solid #ffffff7f;
    background: #ffffff24;
    backdrop-filter: blur(10px);
    padding: 21px 26px;
    border-radius: 35px;
    padding-top: 8px;
    padding-bottom: 15px;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px #ffffff;
}

.navbtn {
    color: #fff;
    background: #00000000;
    padding: 7.5px 15px;
    margin-top: 10px;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: all 0.3s;
}

.navbtn:hover {
    color: #000000;
    background: #fff;
    padding: 7.5px 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px #fff;
    cursor: pointer;
}

.navbtne {
    color: #fff;
    background: #00000000;
    padding: 7.5px 15px;
    margin-top: 10px;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: all 0.3s;
}

.navbtne:hover {
    color: #000000;
    background: #fff;
    padding: 7.5px 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px #fff;
    filter: invert();
    cursor: pointer;
}

.dash {
    text-decoration: double underline;
}

.contact-icon {
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.vnizu {
    position: fixed;
    text-align: center;
    bottom: 15px;
    width: 100%;
    font-size: 14px;
}

.pashalko {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.pashalko:hover {
    font-size: 30px;
}

.tgpshlk {
    color: inherit;
    text-decoration: underline;
    transition: all 0.3s;
}

.tgpshlk:hover {
    font-size: 23px;
}

.gifs {
    image-rendering: pixelated;
    margin-top: 50px;
    max-width: 600px;
    position: relative;
    z-index: 1;
}

.gifs img {
    z-index: 1;
    transition: all 0.3s;
}

.gifs img:hover {
    transform: scale(1.5);
    z-index: 2;
}

.current {
    color: #000;
    background: #ddd;
    padding: 7.5px 15px;
    margin-top: 10px;
    font-size: 15px;
    border: 2px solid #ddd;
    border-radius: 20px;
    transition: all 0.3s;
}