@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-color: #122;
    color: #dee;
}

h1,p {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-style: normal;
}

tt {
  background-color: #011;
}

.title {
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 10px #ddddee;
    transition: all 0.3s easefont-size: 20px;
}

.title:hover {
    text-shadow: 0 0 20px #dee;
    cursor: pointer;
}

.title:active {
    text-shadow: 0 0 20px #1f2;
    cursor: pointer;
    color: #1f2;
}

.bio {
    font-size: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.buttons img {
    width: 88px;
    height: 31px;
    margin: 2.5px;
    border: 1px solid #111;
    transition: all 0.2s ease;
    image-rendering: pixelated;
}

.buttons img:hover {
    box-shadow: 0 0 50px #dee;
    transform: scale(1.2);
}

.buttons img:active {
    box-shadow: 0 0 50px #1f2;
    transform: scale(1.5);
}

.rus {
    background-image: linear-gradient(to bottom, white 0%, white 44%, blue 33%, blue 66%, red 66%, red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.marked {
    background-color: #fe0;
    color: #fe0;
    text-decoration: underline;
    text-decoration-style: wavy;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-moz-progress-bar {
    background-color: #1a1;
}

.pbar {
    border-radius: 25px;
}

.graveyard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.gbox {
    padding: 20px;
    margin: 15px;
    border: 2px solid #111;
    border-radius: 10px;
    background: #233;
    transition: all 0.3s ease;
    width: 40%;
}

.gbox img {
    transition: all 0.3s ease;
    max-width: 210px;
}

.gbox:hover {
    transform: scale(1.1);
    box-shadow: 0 0 100px #344;
    cursor: pointer;
}

.gbox:hover .gname {
    font-size: 30px;
}

.gname {
    font-size: 25px;
    transition: all 0.3s ease;
}

.gdesc {
    font-size: 15px;
    transition: all 0.3s ease;
}

.spoiler {
    filter: blur(3px);
    transition: all 0.3s ease
}

.spoiler:active {
    filter: none;
}
